.menu{
     background-color: rgb(7, 56, 216);
     height: 110px;
     border-radius: 20px;
}
.menu h1{
     float:left;
     padding-left: 30px;
     color: white;
     font-weight: bolder;
     font-size: 34px;
}
.menu h1:hover{
     font-size:28px;
}
.menu ul{
     overflow: auto;
}
.menu li{
     float: right;
     list-style: none;
     padding-top: 50px;
}
.menu li a{
     font-size: 20px;
     padding-right: 50px;
     font-weight:bolder;
     color:white;
}
.menu li a:hover{
     font-size:28px;
}
/*.pics img{
     width: 100%;
     height: 100%;
     /* opacity:0.5; 
     
     z-index: -1;
     background-attachment: fixed;
     position:absolute;
     background-size: cover;
     background-attachment: fixed;
     /* background-size: cover; 
}*/
body{
     height:auto;
     background-image: url("work/design.jpg");
     width: 100%;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     /* opacity: 0.5; */
}
.top{
     opacity:4;
     top: -120px;
     left: 35%;
     width: 33%;
     position: relative;
     }
.top h1{
     text-align: center;
     color: black;
     margin-top: -44px;
     margin-left: -2%;
}
.top h1 span{
     
     color:#162a8d;
}    
.sec{
     max-width: 700px;
     margin: auto;
     color: black;
     font-size: 22.5px;
} 
strong{
     font-weight: bold;
}
.section1{
     padding: 2px;
     width: 41%;
     /* margin: auto; */
     margin-top: -135px;
     margin-left: 481px;
}
.section2{
     width: 56%;
     height: auto;
     background-color:rgb(83 94 98 / 30%);
     text-align: center;
     /* z-index: -1; */
     color: black;
     font-weight: bold;
     /* font-size:22px ; */
     padding: 15px;
     /* opacity: 0.4; */
     margin: auto;
     border-radius: 300px;
}
.section2 h3{
     font-size: 22px;
}
.section2 p{
     text-align: center;
     font-size: 18px;
     /* padding: 17px 0px 0px 15px; */
     margin-left: 55px;
}
.section3{
     width: 59%;
     background-color:rgb(49 47 153 / 30%);
     height: auto;
     text-align: center;
     color: black;
     margin: auto;
     border-radius: 300px;
     /* padding: 15px; */
     /* padding-top: 5px; */
     padding-bottom: 35px;
}
.section3 h3{
     font-weight: bold;
     padding-top: 25px;
     font-size:22px ;
     padding-bottom: 1px;
}
.section3 p{
     font-weight: bold;
     /* padding-top: px; */
     font-size:19px ;
     padding-bottom: 19px;
}
.section3 a{
     border:1px solid black;
     padding: 12px;
     font-size: 17px;
     border-radius: 7px;
     color: white;
     background-color: rgb(7, 56, 216);
}
.section3 a:hover{
     font-size:20px ;
}
.section4{
     width: 59%;
     background-color:rgb(154 197 51 / 30%);
     height: auto;
     text-align: center;
     color: black;
     margin: auto;
     border-radius: 300px;
     /* padding: 15px; */
     /* padding-top: 5px; */
     padding-bottom: 35px;
}
.section4 h3{
     font-weight: bold;
     padding-top: 25px;
     font-size:22px ;
}
.section4 p{
     font-weight: bold;
     /* padding-top: px; */
     font-size:19px ;
     padding-bottom: 18px;
}
.section4 a{
     border:1px solid black;
     padding-top: 12px;
     padding-bottom: 12px;
     padding-right: 20px;
     padding-left: 20px;
     font-size: 17px;
     border-radius: 7px;
     color: white;
     background-color: rgb(7, 56, 216);
}
.section4 a:hover{
     font-size:20px ;
}
.foot{
     background-color:rgb(7, 56, 216);
     text-align: center;
     padding-top: 20px;
     padding-bottom: 30px;
     color: white;
     font-size: 23px;
     font-weight: bold;
     margin-top: 30px;
     border-top-right-radius: 30px;
     border-radius: 30px;
}
.ul1{
     list-style: none;
     padding:1px 25px 3px 4px;
     padding-top: 20px;
}
.li2{
     display: inline;
     padding-left: 40px;
     color: white;
}
.li2 a i{
     color: white;
     font-size: 35px;
}